:root {
  --maincolor: #4070f4;
}
body {
  margin: 0;
  display: grid;
  background-color: #ffffff;
  min-height: 100vh;
}

/* Navigation bar styles*/
.nav__bar {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  height: 80px;
}
.nav__list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0;
  height: 80px;
}
.nav__li a {
  text-decoration: none;
  color: black;
  padding-right: 3em;
  position: relative;
}
.nav__li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: var(--maincolor);
  bottom: -1em;
}
.nav__li:first-child {
  margin-right: auto;
  margin-left: 3em;
}
.nav__li a:hover:after {
  width: 60%;
}

/*body style*/
.logo__img{
  max-width: 75%;
  max-height: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.image__div{
  
  top: 100px;
  width: 100%;
}
.p__div{
  margin: 20px;
  padding: 15px ;
 
}
.about__p{
  
  font-size:24px;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 1.5px;
}
.image1{
  float: right;
  width: 50%;
  
  
}
.buttondiv{
  margin-top: 40px;
  width: 50%;

}
.button--login{
  text-align: center;
  color: #fff;
  width: 30%;
  text-decoration: none;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right,  var(--maincolor),  var(--maincolor));
  border: 0;
  outline: none;
  border-radius: 30px;
}



/* Footer styles*/
footer {
  background-color: #5F56C6;
  position: absolute;
  width: 100%;
  height: 300px;
  top: 850px;

  color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 0.1fr;
  grid-template-areas:
    "footer-contact footer-form"
    "footer-note footer-note";
}
.footer-contact {
  position: relative;
  grid-area: footer-contact;
  margin-left: 25px;
  margin-right: 25px;
}
.footer-form {
  grid-area: footer-form;
}
.footer-note {
  grid-area: footer-note;
}
.copyright {
  text-align: center;
  font-size: 12px;
}
.footer-table {
  width: 100%;
}
.name,
.number,
.email {
  height: 25px;
  width: 80%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border: none;
}
.email {
  width: 90%;
}
.subject {
  width: 90%;
  height: 90px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border: none;
}
/*Footer social Icon*/
.wrapper {
  color: #000000;
  display: inline-flex;
  position: relative;
  width: 50%;
}
.wrapper .icon {
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span {
  display: block;
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i {
  line-height: 30px;
  font-size: 20px;
}
.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span {
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
  background: #3b5999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
  background: #46c1f6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
  background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background: #333;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before {
  background: #de463b;
}
/*Footer button*/
.footer-button {
  outline: none;
  display: block;
  border: solid 1px #de463b;
  font-size: 12px;
  line-height: 1;
  padding: 10px 25px;
  border-radius: 30px;
  background: #ffffff;
  color: #18a0fb;
  cursor: pointer;
  transition: all 0.3 linear;
}
.footer-button:hover,
.footer-button:focus {
  background: #de463b;
  color: #ffffff;
}
.footer-button:active {
  background: #ffffff;
  color: #de463b;
}

/*register form*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
  position: relative;
}

.regiser__form {
  position: absolute;
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  border-radius: 0.35rem;
  padding: 1.5rem;
  top: 150px;
  background-color: #fff;
}
.regiser__form input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
}
.input-group {
  margin: 2rem 0;
}
.reg__btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: #18a0fb;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: 0.3s;
}
.width-50 {
  width: 50%;
}
.ml-auto {
  margin-left: auto;
}
.reg__btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #18a0fb;
}
.btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.register__formstep {
  display: none;
}
.register__formstep-active {
  display: block;
}

/*progressbar*/
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}
.progressbar::before,
.progress {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #dcdcdc;
  content: "";
  height: 4px;
  width: 100%;
}
.progress__step {
  width: 35px;
  height: 35px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.progress__step::before {
  counter-increment: step;
  content: counter(step);
}
.progress__step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}
.progress__step-active {
  background-color: #18a0fb;
  color: #fff;
}
.progress {
  background-color: #18a0fb;
  width: 0%;
}

.login__formbox {
  
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  box-shadow:4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 5px;
  overflow: hidden;
}
.login__formbox p {
  font-size: 50px;
  text-align: center;
}
.login__buttonbox {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #243aff1f;
  border-radius: 30px;
}

.login__form {

  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.login__inputfeald {
  width: 100%;
  padding: 20px 10px;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.login__submit {
  width: 85%;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, var(--maincolor), var(--maincolor));
  border: 0;
  outline: none;
  border-radius: 30px;
}
.login__checkbox {
  margin: 30px 10px 30px 0;
}
.login__spam {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
#login {
  left: 50px;
}
#register {
  left: 450px;
}





.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
